.header-logo {
    max-width: 40px;
}
.header-text{
    color: #f6b62e;
font-weight: bold;
}
  .profile-img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }

    body {
        background-image:
            url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);
    }

    .pagination {
        padding: 0;
        margin: 0;
    }

    a.nav-link:hover {
color: #886703 !important;
    }

    .nav-link.active {
color: #886703 !important;
border-bottom: 1px solid #886703;
    }
      .nav-link {
        font-weight: normal !important;
    }
    .datatables-actions {
   width: 20%;
min-width: 20%;
display: grid;
grid-gap: 10px;
grid-template-columns: 70px 70px;
    
}

  .nav-link:focus,
  .nav-link:hover {
    color: #050400 !important;
  }

  .navbar-nav a {
    color: #050400 !important;
  }



  
.form-select,.form-control:focus {
  box-shadow: none;
  border-color: #4a4a4a;
  outline: none;
}

.form-select:focus {
  box-shadow: none;
  border-color: #4a4a4a;
  outline: none;
}
.form-select,.form-control {
  box-shadow: none;
  outline: none;
}

.tag {
    font-size: 12px;
}
.tag-link {
    margin-right: 10px;
    margin-bottom: 10px;
}
.tags {
    display: flex;
    padding: 1rem;
    width: 100%;
    flex-wrap: wrap;
}
