.header-logo {
    max-width: 40px;
}
.header-text{
    color: #f6b62e;
font-weight: bold;
}

    body {
        background-image:
            url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);
    }

    .pagination {
        padding: 0;
        margin: 0;
    }

    a.nav-link:hover {
        color: #ffc107 !important;
    }

    .nav-link.active {
        color: #ffc107 !important;
        font-weight: bold;
        border-bottom: 2px solid #ffc107;
    }

/* bootstrap.min.css | https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css */

.form-select,.form-control:focus {
  box-shadow: none;
  border-color: #4a4a4a;
  outline: none;
}

.form-select:focus {
  box-shadow: none;
  border-color: #4a4a4a;
  outline: none;
}
.form-select,.form-control {
  box-shadow: none;
  outline: none;
}

.tag {
    font-size: 12px;
}
